/**************** COULEUR **************/

section {
  width: 1200.5px;
  margin: 0 auto 50px;
}

section article {
  display: table;
  width: 100%;
}

section article img,
section article aside {
  display: table-cell;
  vertical-align: middle;
}

section article img {
  width: 100%;
}

section article aside {
  width: 60%;
  padding-left: 40px;
}

section article aside h2 {
  color: #d63737;
  font-size: 3rem;
}

section article aside p {
  color: #2b2b2b;
  font-size: 1.5rem;
  padding: 5px 0;
}

section article aside .prix {
  color: #2b2b2b;
  font-size: 2rem;
}

section article aside button {
  cursor: pointer;
  padding: 8px 20px;
  margin: 50px 0;
  background: #d63737;
  border-style: none;
  color: white;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

section article aside button:hover {
  background: #2b2b2b;
}

section article aside button img {
  display: block;
  width: 60px;
  margin: 0 auto;
}