/**************** COULEUR **************/
/**********************************************
*
*					 CODE
*
**********************************************/
section {
  width: 1200px;
  margin: auto;
}
section .form-step {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: #d63737;
  color: white;
  margin-right: 20px;
}
section .add {
  max-width: 700px;
  margin: auto;
}
section .add fieldset {
  border-style: none;
  padding: 15px 0;
  margin: 50px 0;
  border-bottom: 1px solid #c6c6c6;
}
section .add fieldset legend {
  color: black;
  font-size: 1.8rem;
}
section .add fieldset input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.1rem;
  margin: 10px 0;
  background: #d2d2d2;
  border: none;
  padding: 15px;
  border-radius: 3px;
  color: #545454;
  transition: all 0.3s ease;
}
section .add fieldset input:focus {
  background: #c6c6c6;
}
section .add button {
  cursor: pointer;
  display: block;
  width: 250px;
  padding: 8px 0;
  margin: 50px auto;
  background: #d63737;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
section .add button:hover {
  background: #2b2b2b;
}
section .add button img {
  display: block;
  width: 60px;
  margin: 0 auto;
}
